@import "./icomoon/style.css";

*{
	margin: 0px;
	padding: 0px;
	border:0px;

	border-collapse: collapse;
	box-sizing:border-box;
	/*font-family: "Segoe ui Light",sans-serif;*/
	font-family: Oxygen;
    outline: none;
}
*:focus{
	outline:none;
}

body{
	background: #fafafa;
    overflow-x: hidden;
}
/*
div.bg_intro{
	z-index: 999;
	background: #fff;
	text-align: center;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	height: 100%;
}
div.bg_intro img{
	position: relative;
	top: 50%;
	margin-top: -100px;
	height: 200px;
	transition:3s;
}*/
.zoomOut{
	-webkit-transform:scale(0.5);
}
/* ----- header ----- */
.headerScroll{
	background:rgba(255,255,255,1);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed !important;
}
header{
	background:rgba(255,255,255,0.9);
	text-align: center;
	z-index: 99;
	width: 100%;
 	top: 0px;
}

header a{
	text-decoration: none;
	color: #999;
}

header #bt_menu:hover,header #bt_menu_search:hover{
	background:rgba(255,255,255,0.4);
}
header #bt_menu,header #bt_menu_search{
	text-decoration: none;
	display: inline-block;
	position: absolute;
	background: transparent;
	color: #555;

	font-size: 20px;
	height: 46px;
  	line-height: 46px;
	float: left;
	width: 46px;
	cursor: pointer;
	/*border:1px solid #999;*/
	border-radius: 4px;
	margin:8px;
}
header #bt_menu{ left: 0px;}
header #bt_menu_search{ right: 0px;}
header img:hover{
	background:rgba(255,255,255,0.4);
}
header img{
	vertical-align: top;
	height: 64px;
	padding: 10px;
}
div.div_shadow{
	display: none;
	background:rgba(0,0,0,0.6);
	position: fixed;
	top: 0%;
	right: 0%;
	left: 0%;
	bottom: 0%;
	z-index: 998;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
nav{
	background-color: #fff;
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
	vertical-align: top;  
	position: fixed;
	top: 0px;
	left: -400px;
	height: 100%;
	bottom: 0px;
	z-index: 999;
	width: 300px;
	overflow-y: auto;
}
nav ul{
	list-style: none;
	vertical-align: top;
	width: 100%;
	border:0px;
}
nav ul li{
	vertical-align: top;
}
nav ul li a:hover{
	background: #eee;
	color: #e53935;
}
nav ul li a{ 
	text-decoration: none;
	color: #555;
	width: 100%;
  	vertical-align: top;
	display: inline-block;
	border:0px;
}
nav ul li a span{
	display: inline-block; 
	width: 100%;
	padding: 15px;
	vertical-align: top;
	font-size: 14px;
}
/* ---- profil_menu */
div.profil_menu{
	position: relative;
	vertical-align: top;
	width: 100%;
  	top: 0px;
  	height: 180px;
}
div.profil_menu img.menu_bg_img{
	width: 100%;
  	height: 100%;
}
div.profil_menu img.profil_img{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:70px;
	height: 70px;
	border-radius: 100%;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -35px;
}
div.profil_menu span.profil_name{  
	position: absolute;
  	top: 139px;
	background-color: rgba(0, 0, 0, 0.61);
	width: 100%;
	display: inline-block;
	padding: 12px;
	color: #fff;
}
div.div_bt_log{
	position: absolute;
  	top: 12px;
  	right: 0px;
  	left: 0px;

	display: inline-block;
	text-decoration: none;
	/*padding: 10px 20px;*/
	/*margin: 5px;*/
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border-radius: 30px;
  	z-index: 999;
}
div.div_bt_log a:hover{
	background: rgba(30, 144, 255, 0.85);
	color: #fff;
}
div.div_bt_log a{
	position: absolute;
	/*background: rgba(30, 144, 255, 0.85);*/
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	/*margin: 5px;*/
	font-size: 16px;
	color: dodgerblue;
	/*border:1px solid #fff;*/
	cursor: pointer;
}
div.div_bt_log a#bt_logIn{ 

  	border-top-right-radius: 30px;
  	border-bottom-right-radius: 30px;
	left: 0px; 
}
div.div_bt_log a#bt_signUp{ 
  	border-top-left-radius: 30px;
  	border-bottom-left-radius: 30px;
	right: 0px; 
}
/* ----- div.bg_img ----- */
div.bg_img{
	position: fixed;
	width: 100%;
	height: 400px;
	z-index: -1;
  	top: 64px;
}
.pos_one{
	margin-top: 400px !important;
}
span#slogan{
	background:rgba(0,0,0,0.2);
	color: #fff;
	position: absolute;
	top: 80px;
	right: 0%;
	font-size: 40px;
	padding: 20px;
	width: 100%;
	text-align: right;
}
div.bg_img img.bg{
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
    z-index: -1;
    position:absolute;
    top: 0px;
    left: 0%;
    bottom: 0%;
    width: 100%;
    display: inline-block;
}
section.div_pos{
	position: relative;
  	background: rgba(255, 255, 255, 0.5);
  	left: 0%;
  	text-align: center;
  	padding: 50px;
  	margin: 10px;
}
section.div_pos img{
	vertical-align: bottom;
}
.bt_large_signUp {
  	display: inline-block;
	text-decoration: none;
	padding: 20px;
	font-size: 40px;
	width: 100%;
	color: #fff;
}
section.div_pos .bt_blue{
	background: dodgerblue;
}
section.div_pos .bt_red{
	background: #e91e63;
}
section.div_pos h1{
	color: #333;
	font-size: 20px;
	padding-bottom: 50px;
}
section.div_pos table {
	width: 100%;
}
section.div_pos table td{
  	padding: 5px;
	width: 33%;
}
section.div_pos table img{
	border-radius: 100%;
	width: 40%;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.div_pos table td a:hover{
	background: #1565c0;
}
section.div_pos table td a{
	text-decoration: none;
	background: #1e88e5;
	color: #fff;
	border-radius: 15px;
	padding: 5px 20px;
	margin-top: 5px;
	display: inline-block;
}
section.div_pos span.title_section{
	color: #222;
  	font-weight: bold;
	font-size: 30px;
	padding-bottom: 20px;
	display: inline-block;
}
section.div_pos div.div_contact span.school{
	color: #1D5877;
	font-size: 14px;
	display: inline-block;
}
a.bt_more:hover{
	background: #4db6ac;
}
a.bt_more{
	width: 100%;
	background: #009688;
	color: #fff;
	padding: 10px 20px;
	/*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	margin:20px 0px;
	/*border-radius: 4px;*/
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}
a.bt_more span{
	margin-right: 5px;
}
/* ----- section.home ----- */
section#home{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}
section#home div.content{
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}
div.card_meal{
	display: inline-block;
	position: relative;
	width: 33.3%;
	height: 220px;
	margin: 0px;
	float: left;
}
div.card_meal img.card_bg_img{
	width: 100%;
	height: 100%;
	vertical-align: top;
/*
	filter: brightness(90%);
	-webkit-filter: brightness(90%);
	transition:0.2s;*/
}
div.card_meal span.card_title{
	background:rgba(255,255,255,0.8);
	color: #222;

	font-size: 20px;
	padding: 10px;

	position: absolute;
	bottom: 0%;
	left: 0%;
	right: 0%;

	text-align: left;
	text-transform: uppercase;
	vertical-align: bottom;
	display: inline-block;
}
div.card_meal span.card_title button:hover{
	/*background:rgba(0,0,0,0.5);*/
}
div.card_meal span.card_title button{
	background:transparent;
	color: #555;
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 20px;
	position: absolute;
	top: 0%;
	right: 0%;
	height: 46px;
	line-height: 46px;
	width: 60px;
	text-align: center;
	cursor: pointer;
}
div.card_meal span.card_price{
	z-index: 1;
	background:rgba(255,255,255,0.8);
	color: #222;
	border-radius: 100%;

	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	text-align: center;
}

/* ----- VIEW MEAL ----- */
#viewMeal{
	background: #fff;
	position: relative;
	top: 0px;
	width: 40%;
	left: 50%;
	margin-left: -20%;
}
#viewMeal img.imgCooker{
	background: #fff;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	z-index: 1;
	vertical-align: middle;
}
#viewMeal .rate_stars{
	background: #222;
	padding: 5px 0px;
}
#viewMeal .rate_stars i{
	margin: 0px;
	padding: 0px;
  display: inline-block;
  width: 50px;
  text-align: center;
}
#viewMeal a table.tab_profil{
	text-decoration: none;
}
#viewMeal table.tab_profil:hover{
	background: #ddd;
}
#viewMeal table.tab_profil{
	/*background: #eee;*/
	color: #222;
}
#viewMeal table.tab_profil td{
	text-align: left;
	padding: 10px;;
}
#viewMeal table.tab_profil td span{
	display: inline-block;
	padding: 0px 5px;
}
#viewMeal table.tab_profil td span.name{
	font-size: 26px;
}
#viewMeal table.tab_profil td span.age{
	font-size: 16px;
	color: #777;
}
#viewMeal table.tab_profil tr td:nth-child(1){
	width: 20px;
}
#viewMeal span.card_des{
	font-size: 30px;
	display: block;
}
#viewMeal div.card_description{
	padding: 20px 10px;
}
#viewMeal div{
	width: 100% !important;
	margin: 0% !important;
	vertical-align:top;
}
#viewMeal table{
	width: 100%;
}
#viewMeal table td{
	margin:0px;
}
#viewMeal a.btn_pickUp,#viewMeal a.btn_delivery{  
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
#viewMeal a.btn_pickUp{ background-color: #D32F2F;}
#viewMeal a.btn_delivery{ background-color: #2196f3;}
#viewMeal a#btn_order{
	width: 100%;
}
#viewMeal iframe{
	vertical-align: top;
	width: 100%;
	height: 170px;
}
#viewMeal div.card_info{
	display: block;
}
#viewMeal div.card_social{
	background-color: #fafafa;
	text-align: center;
}
#viewMeal div.card_social span{
	color: #555;
	display: inline-block;
	padding: 20px;
	font-size: 30px;
}
#viewMeal div.card_stars{
	background:rgba(0,0,0,0.4);
	text-align: center;  
	top: -139px;
  	position: relative;
  	left: 0px;
  	z-index: 5;
  	width: 100%;
 	display: inline-block;
}
#viewMeal div.card_stars span{
	color: orange;
	display: inline-block;
	padding: 5px;
	font-size: 20px;
	/*text-shadow:0px 1px 0px #222;*/
}
.viewCooker .name,
.viewCooker .age{
	background:rgba(0,0,0,0.4);
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 100%;
	z-index: 2;
}
.viewCooker .name{
	padding: 10px;
	color: #fff;

	top: 0px;
	font-size: 32px;
}
.viewCooker .age{
	color: #999;

	font-size: 16px;
	top: 61px;
}
#viewMeal span.cook_info{
	display: block;
	font-size: 16px;
	padding: 20px 10px;
	color: #555;
}
div.viewCooker div.card_meal{
	text-align: center;
}
div.viewCooker div.card_meal img.imgCooker{
	background: #fff;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	z-index: 1;
	vertical-align: middle;
	position: relative;
	top: -60px;
}
div.viewCooker table.tab_profil{
	background: rgba(255,255,255,0.7) !important;

	position: relative;
	top: -50px;
	display: inline-block;
}
/* ----- footer ----- */
footer{
	background: #222;
	color: #888;
	position: relative;
	text-align: center;
}
footer .ft_social a:hover{
	color: #fff;
}
footer .ft_social a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	font-size: 22px;
}
footer div.infos{
 	background: #111;
 	text-align: center;
}
footer a:hover{
	color: #fff;
}
footer a{
	text-decoration: none;
	color: #999;
	font-size: 14px;
}
footer div.tab{
	width: 90%;
	display: inline-block;
	text-align: center;
	padding: 15px 0px;
}
footer div.col_2{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 30px;
	/*
	background: #111;
	border-radius: 50px;
	*/
}
footer div.col_2 table{
	width: 100%;
}
footer div.col_2 span{
	display: block;
}
footer ul {
	list-style: none;
}
footer ul li{
	padding: 3px;
	font-size: 16px;
}
footer div span.fTitle img{
	width: 40%;
}
footer div span.fTitle{
	font-variant: small-caps;
	color: #fff;
	font-size: 18px;
	padding: 10px 0px;
}

/* ----- div.contactUs ----- */
div.contactUs{
	text-align: center;
}
div.contactUs div.div_contact img{
    width:150px;
    height: 150px;
    border-radius: 100%;
}
div.contactUs div.div_contact{
	display: inline-block;
    position: relative;
    text-align: center;

    top:30px;
    left:0%;
    padding: 30px;
}
div.contactUs div.div_contact span{
	font-size: 16px;
	color: #222;
    display:block;
}
div.contactUs div.div_contact span.des{
	font-size: 12px;
	color: #777;
}
div.contactUs div.div_contact a{
	font-size: 14px;
	color: dodgerblue;
}

/* ----- div.menu_search ----- */
div.menu_search{
	display: none;
	position: relative;
	float: right;
	width: 100%;
  	top: 0px;
  	z-index: 9;
}
div.menu_search input,
div.menu_search button{
	float: left;
	padding: 20px;
	font-size: 18px;
}
div.menu_search button{
	cursor: pointer;
	background: transparent;
	position: absolute;
	top: 0px;
	color: #777;
}

div.menu_search button#bt_search:hover,
div.menu_search button#bt_filter:hover{
  	background: #222;
}
div.menu_search button#bt_filter:active{
  	background: #666;
}
div.menu_search button#bt_search{
  	background: #444;
	color: #fff;
	right: 0px;
  	z-index: 999;
}
div.menu_search button#bt_filter{
	right: 0px;
}
div.menu_search input:focus{
	/*background: rgba(255,255,255,0.7);*/
}
div.menu_search input{
	background: #fff;
	width: 100%;
}


/*****************/
section.section_register{
	/*background: #bbdefb;*/
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}
fieldset.form_register{
	/*background: rgba(0,0,0,0.5);*/
	position: relative;
	top: 0px;
	left: 50%;
	width: 50%;
	margin-left: -25%;
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}
fieldset.form_register table{
	width: 100%;
}
fieldset.form_register table td{
	/*text-align: left;*/
	padding: 5px;
}
fieldset.form_register legend{
	font-size: 40px;
	color: #111;
	float: left;
	display: inline-block;
	width: 100%;
}
fieldset.form_register table td input{
	background: transparent;
	color: #fff;
	border-bottom:1px solid #fff;
	padding: 20px;
	width: 100%;
	font-size: 16px;
}
fieldset.form_register table td {
	color: #fff;
	font-size: 16px;	
}

fieldset.form_register button:hover{
	background: #4db6ac;
	/*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
fieldset.form_register button{
	background: #009688;
	color: #fff;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	float: right;
	width: 100%;
	font-size: 16px;
}
img#bg_mv_img{
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
	/*right: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;*/
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	animation-name:moveImg;
	animation-duration:15s;
	animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}
@keyframes moveImg{
	0%{
		-webkit-transform:scale(1.2);
		top: 0px;
		left: 0px;
	}
	100%{
		-webkit-transform:scale(1);
		left: -300px;
	}
}

/* --- button#bt_put_meal */
#bt_put_meal:hover{
	background: #e53935;
}
#bt_put_meal{
	z-index: 997;
	text-decoration: none;
	background: #c62828 ;
	color: #fff;
	border:3px solid #fff;
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);

	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 20px;
	border-radius: 100%;
	cursor: pointer;
}

/* --- iframe#ifr_map_view */
iframe#ifr_map_view{
	position: relative;
	top: 0px;
	left: 50%;
	margin-left: -50%;
	width: 100%;
	height: 600px;
	vertical-align: bottom;
}
a#bt_delete_account:hover{
	background: #e53935;
	color: #fff;
}
a#bt_delete_account{
	background: #c62828;
	color: #eee;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	padding: 20px 0px;
	display: inline-block;
}

a#bt_modify_account:hover{
	background: #fff;
	color: #222;
}
a#bt_modify_account{
	background: transparent;
	color: #eee;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border:1px solid #fff;
	position: absolute;
	top: 10px;
	right: 10px;

	padding: 10px;
	border-radius: 2px;
	text-decoration: none;
	z-index: 9;
	display: inline-block;
}

div.bg_img_page{
	z-index: -1;
	/*background: #333;*/
	position: relative;
	top: 0px;
	left: 0px;
	height: 120px;
  	/*box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.5);*/
}
div.bg_img_page img{
	position: fixed;
 	top: -100px;
	width: 100%;
	vertical-align: bottom;
}
img#img_meals{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;
	height: 120px;
	width: 120px;
	border-radius: 100%;
}
.modifyProfil{
	background: #555;
}
.modifyProfil table td{
	text-align: left;
}
section.section_params{

}
section.section_params fieldset legend{
	padding: 10px;
}
section.section_params fieldset,section.section_params table{
	width: 100%;
}
section.section_params table td{
	padding: 10px;
}
section.section_params a:hover{
	background: #1e88e5;
}
section.section_params a{
	background: #1976d2;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	width: 100%;
	/*margin: 10px;*/
}
section.section_params a.bt_delete_account:hover{
	background: #e53935;	
}
section.section_params a.bt_delete_account{
	background: #d32f2f;	
}/*
button{
	text-transform: uppercase;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 2px !important;
}*/

.sloganRed{
	font-family: Pacifico;
	color:#E81D62 !important;
}
/* ----- .contentMap  ----- */
div.contentMap{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #eee;
	position: relative;
	text-align: center;
	min-width: 200px;
}
div.contentMap img{
	height: 150px;
	vertical-align: bottom;
}
div.contentMap span.mapTitle{
	background:rgba(255,255,255,0.9);
	color: #222;
	font-size: 16px;
	padding: 5px;
	width: 100%;

	position: absolute;
	bottom: 0px;
  	left: 0px;
	text-transform: uppercase;
  	text-align: left;
	display: inline-block;
}
div.contentMap p.mapPrice{
	color: #c62828;
	float: right;
	font-size: 14px;
	padding-left:10px;
}