/* ----- RESPONSIVE DESIGN ----- */
/* smartphone <= Google Nexus 7 */
@media screen and (max-width: 960px) {
	section.div_pos span.title_section{
		font-size: 20px;
	}
	.div_pos p{
		font-size: 12px;
	}
	fieldset.form_register{
		/*background: rgba(255,255,255,0.5);*/
		left: 50%;
		width: 90%;
		margin-left: -45%;
  		padding: 0px;
	}
	fieldset.form_register img{
		width: 100%;
	}
	div.card_meal{
		width: 50%;
		height: 190px;
	}
	div.card_meal span.card_title,div.card_meal span.card_title button{
		font-size: 16px;
	}
	div#viewMeal,
	nav ul,
	nav ul li,
	nav ul li a,
	footer div.col_1,
	footer div.col_2{ width: 100%;	}

	nav ul, nav ul li a{ display: inline-block; }

	/*nav ul li{ border-bottom: 1px solid #fafafa; }*/
	
	div#viewMeal{
		left: 0%;
		margin-left: 0%;
	}

	div.bg_img{	height: 300px; }
	div.bg_img img.bg{
	   height: 280px;
	}

	/* ----- section.div_pos ----- */
	/*div.div_pos{ padding: 0px !important; }*/
	/*div.div_pos h1{ font-size: 25px; }*/
	section.div_pos{
		background:#fff;
		padding: 20px 0px;
		margin:0px;
	}
	div#login img,section.div_pos table img{
		width: 80%;
	}

	span#slogan{
		font-size: 20px;
		padding: 20px;
		margin: 0px !important;
	}
	div#login form{
		/*background: rgba(255,255,255,0.5);*/
		position: absolute;
		top: 20px;
		left: 50%;
		width: 90%;
		margin-left: -45%;
		text-align: center;
	}
}